[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.26"
optimizer = true
optimizer_runs = 1_000_000
via_ir = true
ffi = true
fs_permissions = [{access = "read-write", path = "./"}]

remappings = [
    "forge-std/=lib/forge-std/src/",
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
]

[rpc_endpoints]
base_sepolia = "${TESTNET_RPC_URL}"
